# Python
__pycache__/
*.pyc
.venv/
.venv-mlflow/
venv/
*.egg-info/

# Data & Models (tracked separately via DVC in Experiment 3)
data/*.csv
data/*.parquet
models/*.pkl
models/*.joblib
mlruns/
mlflow.db
mlartifacts/
confusion_matrix_*.png

# Jupyter
.ipynb_checkpoints/

# Environment
.env

# IDE
.vscode/
.idea/
